@import url("bootstrap.min.css");

/****global style****/
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
*/



h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    color: #A1738D;
    font-weight: 700;
}

.main-paragraph {
    font-size: 1.5rem;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

.white-paragraph {
    color: #ffffff;
}


a {
    text-decoration: none;
    color: #ffffff;
}


.carousel-control-prev-icon {
    background-image: url(../icons/chevron-right-solid.svg) !important;
    transform: rotate(180deg) !important;
}

.carousel-control-next-icon {
    background-image: url(../icons/chevron-right-solid.svg) !important;
}

.hero-button {
    padding:10rem 7rem 0 !important;
}

.button_text {
    margin: 2rem 1rem 0 0 !important;
    padding: .7rem 3rem !important;
    padding: .5em 1em !important;
    color: #ffffff !important;
}

.button_text:hover {
    color:#2d586e !important;
}

.button_text:focus {
    outline: none !important;
    box-shadow: none !important;
    border:none !important;
}

.button_text_blue {
    margin: 2rem 1rem 0 0 !important;
    padding: .7em 3em .7em 0 !important;
    padding: .5em 0 !important;
    color: #427997 !important;
    outline: none !important;
}

.button_text_blue:focus{
    box-shadow:none !important;
    outline:none !important;
    border:none !important;
}

.button_text_blue:hover{
    color:#2d586e !important;
}



.button_fill {
    margin: 2rem 1rem 0 0 !important;
    padding: .7rem 3rem !important;
}

.btn-primary {
    background-color: #427997 !important;
    border: none;
}

.btn-primary:hover{
    background-color: #2d586e!important;
}

.right-arrow {
    margin-left: .5rem;
}

.download-arrow {
    margin-left: .5rem;
}


.horizontal-lines {
    width: 5rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid;
    border-color: #A1738D;
    border-width: .8rem;
    margin-bottom: 2rem;
}

.title-size {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}



/******nav******/
.navbar-toggler {
    transition: none;
    border-style: none;
    outline: none;
    border:none;
}
.navbar-toggler:focus{
    box-shadow: none;
}

.brand {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color:black;
}

.brand-surname {
    font-weight: 400;
    color: #427997;
}

#header .hero-component {
    position: fixed;
    padding: .5em 9%;
}

.nav-background-color {
    background-color: #eeeeee !important;
}

.nav-item-font {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    padding-left: 20px;
}


/****hero section****/
#hero-section {
    margin-top:3em;
    background-color: gray;
}

.hero-component {
    position: relative;
    padding: 12% 10%;
}

.hero-image {
    background-image: url(../images/bg-sample.jpg);
    background-size: cover;
    
}

.padding-hero-text {
    width: 70%;
}

.small-heading {
    font-size:1.5rem;
}

.owner-name {
    font-size: 3.2em;
}



/*****credentials*****/

#credentials .hero-component {
    padding: 1.5% 10%;
    background-color: #427997;
}

.align-credentials {
    display: inline-flex;
    position: relative;
    padding: 2.5em 1em;

}

.credentiils-titles {
    margin: 0 auto;
    text-align: center;
    color:#427997;
    font-size: 3rem;
    line-height: 2rem;
    padding: 0;
}


.sub-credential {
    font-weight: 500;
    font-size: 1rem !important;
}

#credentials1 {
    height: 10rem;
    width: 50%;
    background-color: #ffffff;
    margin: 0 auto;
    position: relative;
    bottom: 5rem;
    border-radius: 10px;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10);
}

.vertical-lines {
    height: 80%;
    width: 0.10rem;
    background-color: black;
    border-style: none;
}



/******featured project******/
#featured-project .hero-component {
    padding: 2% 10%;
}

#featured-project .padding-hero-text {
    padding-top: 3em;
}

.carousel-item-bg {
    height: 30em;
    background-color: gray;
}

.carousel-description-bg {
    background-color: white;
    border-color: none;
    width: 25em;
    height: 18em;
    padding: 2em 3em;
    position: absolute;
    top: 10em;
    left: 0;
    border-radius: 0 10px 10px 0;
}

.carousel-placement {
    position: relative;
    left: 0;
}

.project-arrows {
    position: relative;
    bottom: 6em;
}

.project-arrow-left {
    position: relative;
    left: 16em;
}


.project-arrow-right {
    position: absolute;
    left: 19em;
}

.project-images {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


/******testimony******/
#testimony .hero-component {
    background-color: #F3F1F1;
    padding: 5% 10% 2% 10%;
    margin-top: 5em;
}

#testimony .padding-hero-text {
    margin-left: 3rem;
}

#testimonials-2 {
    display: relative;
    bottom: 3em;
}

.quote-spacing {
    margin: 0 0 2em;
}

.testimony-text {
    text-align: left;
    padding: 10rem;
    
}

.testimony-padding {
    padding: 100px;
}

.client-info{
    display: inline-flex;
    align-items: center;
}

#testimony .testimonial-hr {
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    border-bottom-style: solid;
    border-color: gray;
    border-width: 0.1em;
    margin: 2em 0;
}

.client-image {
    height: 80px;
    width: 80px;
    margin-right: 1em;
    border: none;
    border-radius: 5em;
}

/******contact******/

#contact .hero-component{
    padding: 6% 10% 1%;
    background-color: #A1738D;
}

#contact .title-size {
    color: #ffffff!important;
}

#contact .horizontal-lines{
    border-color: #ffffff !important;    
}

#contactForm {
    margin-top: 50px;
}

#contactForm .input {
    background-color: transparent;
    border-color: #ffffff;
    border-width: 0 0 2px 0;
    width: 100%;
    outline: none;
}

input:required:invalid{
    border-color: red;
}

.form-group [data-error] .input {
    border-color: red;
    color:#c92432;
}

.form-group [data-error]::after {
    content:attr(data-error);
}

#contactForm .input:focus{
    border-color: #427997;
}

.form-group {
    position: relative;
    top: -4em;
    margin: 0 5em 3em 5em;
}

.form-group:nth-child(4){
    margin: 0 5em 1em 5em;
}

::placeholder {
    color: #ffffff;
}

.text-area {
    height: 8em;
    resize: none;
    outline: none;
}

.submit-botton {
    top: 2em;
}


/************footer*************/
#footer .hero-component {
    background-color:#F3F1F1;
    padding: 0.8% 10%;
}


/*works****************************************************************************************************/
#filter .hero-component {
    padding:5%;
}

.filter-tems {
    list-style: none;
    padding-left: 0;
}

.list-items {
    padding: 1em 0em;
    display: flex;
}

.cards {
    background-color: grey;
    border-radius: 10px;
    display: inline-flex;
    position: relative;
    height: 23em;
    width: 20em;
    margin: 0 .5em 1em;
    overflow: hidden;
}

.project-card-image {
    background-size:cover;
    height:100%;
    display: block;
    margin: 0 auto;
    width:auto;
}

.project-name-text {
    font-size: 1.5em;
    color: #ffffff !important;
}

.project-card-description {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.5));
    width: 100%;
    height: 7em;
    padding: 1em;
    position: absolute;
    top: 16em;
    opacity: 0;
}

.cards:hover .project-card-description{
    opacity: 1;
}

